
<h4 class="blue-grey-text text-darken-4">Home</h4>
<hr><br>

<div class="row">

	
	<div class="col s12 card-panel z-depth-3">
		<div class="card-title valign-wrapper">
			<i class="small material-icons">event_note</i>

			<h5 class=""><b>Upcoming Events</b></h5>
			
		</div>

		<div class="divider"></div>
		<div class="card-content">
			<h6 class="card-title"><b>Event Title</b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>
			<div class="divider"></div>
			<h6 class="card-title"><b>Event Title</b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>

		</div>
		<br>
		<div class="">
			<a class="btn waves-effect orange accent-4 right">Show All</a>
		</div>
		<br>
		
	</div>
	<div class="row"></div>
</div>

<div class="row">

	
	<div class="col s6 card-panel z-depth-3">
		<div class="card-title valign-wrapper">
			<i class="small material-icons">language</i>

			<h5 class=""><b>Announcements</b></h5>
			
		</div>

		<div class="divider"></div>
		<div class="card-content">
			<h6 class="card-title"><b>Announcement Title</b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>
			<div class="divider"></div>
			<h6 class="card-title"><b>Event Title</b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>

		</div>
		<br>
		<div class="">
			<a class="btn waves-effect orange accent-4 right">Show All</a>
		</div>
		<br>
		
	</div>
	<div class="col s6 card-panel z-depth-3">
		<div class="card-title valign-wrapper">
			<i class="small material-icons">lightbulb_outline</i>
			<h5 class=""><b>Live Tests</b></h5>
			
		</div>

		<div class="divider"></div>
		<div class="card-content">
			<h6 class="card-title"><b>Test Title </b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>
			<div class="divider"></div>
			<h6 class="card-title"><b>Test Title</b></h6>

			<p>I am a very simple card. I am good at containing small bits of information.
			I am convenient because I require little markup to use effectively.</p>

		</div>
		<br>
		<div class="">
			<a class="btn waves-effect orange accent-4 right">Show All</a>
		</div>
		<br>
		
	</div></div>
