
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="row white">




	<div class="col s3" >

		<ul id="slide-out" class="side-nav fixed z-depth-4 blue-grey darken-4 white-text">
			<li class="" routerLink="profile" routerLinkActive="active">
				
				<div class="row">
					<div class="col s4"><img src="./../../assets/logo.PNG"><br></div>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">home</i><span class="col s4 offset-s1">Home</span>
				</div>
			</li>
			
			<li class ="col s12 waves-effect waves-light" routerLink="attendance" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">wc</i><span class="col s4 offset-s1">Attendance</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">library_books</i><span class="col s4 offset-s1">Courses</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">today</i><span class="col s4 offset-s1">Calendar</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">timelapse</i><span class="col s4 offset-s1">Schedule</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="timetable" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">blur_linear</i><span class="col s4 offset-s1">Timetable</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">settings_input_antenna</i><span class="col s4 offset-s1">Announcements</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">business_center</i><span class="col s4 offset-s1">Placements</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">developer_mode</i><span class="col s4 offset-s1">Project</span>
				</div>
			</li>
			<li class ="col s12 waves-effect waves-light" routerLink="home" routerLinkActive="active">
				<div class="valign-wrapper">
					<i class="material-icons left-align">business_center</i><span class="col s4 offset-s1">Placements</span>
				</div>
			</li>
		
		</ul>
		<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
    <div class="col s9">
		<br>
		<div class="row valign-wrapper">
			
			<div class="col s4 offset-s8">
				<div class="row valign-wrapper">
					<div class="col s2">
						<i title="Settings" data-beloworigin="true" class="waves-effect small material-icons dropdown-button waves-effect waves-light" data-activates="notifications">flag</i>
						<div id='notifications' class='col s3 card-panel dropdown-content'>
							<br>
							<div class="center-align row">
								<b>Notifications</b>
							</div>
							<div class="divider"></div>
							<div class="row">
								<br>
								
								<div class="col s4 offset-s1"> 
									<b>New Assignment</b><br>
									<span> Vaibhav Sir has assigned you a job. </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row">
								<br>
								
								<div class="col s4 offset-s1"> 
									<b>Birthday Coming</b><br>
									<span> Its Prashants birthday this week </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row">
								
								<div class="col s4 offset-s1"> 
									<b>Lecture Cancelled</b><br>
									<span> Tomorrows Psychology lecture Cancelled. </span>
								</div>
							</div>
							
					
						</div>
					</div>
					<div class="col s2 offset-s1">
						<i title="Settings" data-beloworigin="true" class="hovverable small material-icons dropdown-button waves-effect waves-light" data-activates="messages">message</i>
						<div id='messages' class='col s3 card-panel dropdown-content'>
							<br>
							<div class="center-align row">
								<b>Messages</b>
							</div>
							<div class="divider"></div>
							<div class="row">
								<br>
								<div class="col s3">
									<img src="./../../assets/student.jpg" class="circle responsive-img">
								</div>
								<div class="col s4 offset-s1"> 
									<b>Vaibhav Lokhande</b><br>
									<span> Complete your assignment! </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row waves-effect">
								<br>
								<div class="col s3">
									<img src="./../../assets/student.jpg" class="circle responsive-img">
								</div>
								<div class="col s4 offset-s1"> 
									<b>Prashant Shinde</b><br>
									<span> Hello there! </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row waves-effect">
								<br>
								<div class="col s3">
									<img src="./../../assets/student.jpg" class="circle responsive-img">
								</div>
								<div class="col s4 offset-s1"> 
									<b>Rajkumar Patil</b><br>
									<span> Help please. </span>
								</div>
							</div>
							
					
						</div>
					</div>
					<div class="col s4 offset-s1 valign-wrapper">
						<img routerLink="profile" routerLinkActive="active" src="./../../assets/student.jpg" height="50" width="50" class="circle responsive-img waves-effect">

						<i title="Settings" data-beloworigin="true" class="small material-icons dropdown-button waves-effect waves-light" data-activates="account">arrow_drop_down</i>
						<div id='account' class='col s3 card-panel dropdown-content'>
							<div class="row" routerLink="profile" routerLinkActive="active">
								<br>
								<div class="col s2 waves-effect">
									<i class="material-icons">account_circle</i>

								</div>
								<div class="col s4 offset-s1 waves-effect">
									<span> Edit Profile </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row">
								<br>
								<div class="col s2 waves-effect">
									<i class="material-icons">build</i>

								</div>
								<div class="col s4 offset-s1">
									<span> Account Settings </span>
								</div>
							</div>
							<div class="divider"></div>
							<div class="row" routerLink="" routerLinkActive="active">
								<br>
								<div class="col s2 waves-effect">
									<i class="material-icons">launch</i>

								</div>
								<div class="col s4 offset-s1 waves-effect">
									<span> Logout </span>
								</div>
							</div>
							
					
						</div>
						
					</div>
				</div>
			</div>
		</div>

	


		<router-outlet>
		</router-outlet>

		
    </div>

</div>


